:root {
  --accent-color: #2e2f42;
  --logo-color: #4d5ae5;
  --logo_hover-color: #404bbf;
  --txt-color: #fff;
  --all_txt-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

span {
  color: #2e2f42;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/**--Header section--*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo-link {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
}

.header-logo-link:hover {
  color: #404bbf;
}

.header-logo-link:focus {
  color: #404bbf;
}

.header-cont {
  display: flex;
}
.lict{
  display: none;
}
.adres{
  display: none;
}

/**main bloc*/


/**section1*/


.sec-title {
  color: var(--txt-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0px auto;
  padding-top: 188px;
}

.sec-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-button:hover {
  color: #ffffff;
  background: #404bbf;
}

.sec-button:focus {
  color: #ffffff;
  background: #404bbf;
}

/**section2*/

.section-cpdt {
  padding: 96px 0;
}

.sec-cpdt {}

.s-title {
 
}

.one-sex {
 
}
.cpdt {
 color: var(--accent-color);

font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize; 
}

.qbrd {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**section3*/
/**section4*/

.sec-ot {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #f4f4fd;
}

.sec-ot-text {
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.mark {
  padding: 32px 0px;
  background: #fff;
}

.com {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.all-txt {
  color: var(--all-txt-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0px;
  margin-bottom: 8px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-link {
  text-align: justify;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #f4f4fd;
}

.socials-link:is(:hover, :focus) {
  background-color: #404bbf;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.customers-txt {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.customers-all-svg {
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

.customers-all-svg:is(:hover, :focus) {
  color: #404bbf;
  border-color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/**footer section*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.foot-sexion {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo:hover {
  color: #404bbf;
}
.footer-logo:focus {
  color: #404bbf;
}

.footer-span {
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-span:hover {
  color: #404bbf;
}

.footer-span:hover {
  color: #404bbf;
}

.footer-end {
  font-weight: 400;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover {
  background-color: #31d0aa;
}

.social-link:focus {
  background-color: #31d0aa;
}
.subscribe{
	 text-align:center; 
}
.subscribe-txt{
 margin-bottom: 16px;
 color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em; 
}
.subscribe-form{
	
  
}
.subscribe-input{
  width: 264px;
height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
   letter-spacing: 0.04em;
   padding-left: 16px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   color: #ffffff;
   margin-bottom: 16px;
}
.subscribe-button{

 height: 40px;
 color: #FFF;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
cursor: pointer;
background-color: #4D5AE5;
border: none; 
border-radius: 4px; 
padding: l;
margin: 0 auto;
}
.subscribe-input-icon{
 margin-left: 16px; 
}

/**--portfolio--*/

/**--Header section--*/

/**btn*/

.portfolio-btn {
  position: relative;
  overflow: hidden;
}

.btn {
  display: flex;
  gap: 24px;
  row-gap: 16;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** **/

.btn-all {
  color: #4d5ae5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background: #f4f4fd;
}

.btn-all {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background: #f4f4fd;
}

.btn-all:hover {
  color: #fff;
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn-all:focus {
  color: #fff;
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.sex-img {
  display: flex;
  flex-wrap: wrap;
  /**column-gap: 24px;dec*/
  row-gap: 48px;
  /**padding-bottom: 120px;dec*/
}

.sex-img-all {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
}

.keis-hover-txt {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  border: 1px solid #f4f4fd;
  background-color: #4d5ae5;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.keis {
  position: relative;
  overflow: hidden;
}

.all:hover .keis-hover-txt {
  transform: translateY(0);
}

.all:focus .keis-hover-txt {
  transform: translateY(0);
}

.app:hover .keis-hover-txt {
  transform: translateY(0);
}

.app:focus .keis-hover-txt {
  transform: translateY(0);
}

.app-txt {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.web-txt {
  color: var(--all_txt-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}
.coms {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/**footer section*/

/**------------ MODAL-------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  color: #fcfcfc;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(5);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.modal-close-btn:is(:hover, :focus) {
  background-color: #404bbf;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.modal-close-btn:is(:hover, :focus) .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
  border-color: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-user-comment{
 margin-bottom: 16px;
}

.input-label {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
::placeholder{
color: rgba(46, 47, 66, 0.40);
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.16em; /* 116.667% */
letter-spacing: 0.03em;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.button-modal {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4D5AE5;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.modal-textarea {
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em; 
  background-color: transparent; 
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  align-items: center;
}

.privacy-link {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
.modal-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px; 
}
.modal-check:checked + .check-text span {
  background: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox {
margin-bottom: 24px;
}
/**------------ Mobile-------------- */
@media screen and (min-width: 320px) {
 .container {
   max-width: 428px;
 }
 .header-cont{
justify-content: space-between;
    align-items: center;
 }
.menu{
display: none;
}
 
 .menu-open-btn{ 
 border: none;
  background-color: #FFF;
  padding: 24px 0;
 }
 .menu-close-btn{
   display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  margin-bottom: 32px;
 }
.menu-icon {
}
.mob-menu {
  display: flex;
  flex-direction: column;
justify-content: space-between;
  background:  #FFF;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 2;
padding-top: 24px;
padding-right: 24px;
padding-bottom: 40px;
padding-left: 40px;
}
.modal-icon {
}
.mob-menu-lict {
  padding-top: 56px;
}
.list {
}
.mob-menu-item {
  color: #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
  margin-bottom: 40px;
}
.menu-spc {
  color:#2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.menu-spc:hover,
.menu-spc:focus {
  color: #404BBF;
}
.mob-menu-com {
margin-bottom: 48px;
}
.mob-menu-com-linc { 
   color:  #434455;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;

}
.mob-menu-tel-linc {
margin-bottom: 40px;
}
.linc-com-tel {
   color: #4D5AE5;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
}
.mob-socials {display: flex;
gap: 56px;
}
.mob-socials-item { 
 width: calc(100%-168px)/4; 
}
.mob-socials-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}
 .hiro-cont {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/home/office-mob.jpg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}
 @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
     .hiro-cont {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/home/office-mob-2x\ .jpg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
} 
    }
 /**----------section1-----------------*/
 .sec-title {
  color: var(--txt-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin: 0px auto;
  margin-bottom: 72px;
  padding-top: 72px;
}
.sec-button{
  margin-bottom: 112px;
}
.one-sex-all{
  display: none;
}
.sec-es-wd {
display: none;
}
.lint {
  gap: 72px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.sec-ot{
 padding: 96px 0; 
} 
.team {
   display: flex;
 flex-wrap: wrap; 
 row-gap: 72px;
  width: 100%;
  padding: 0px 50px;
  justify-content: space-around;
}
/**-------------section5---------**/
.customers {
  padding: 96px 0;
}
.customers-all {
  gap: 24px;
  row-gap: 72px;
  display: flex;
  flex-wrap: wrap;
}
.customers-all-list {
  width: calc((100% - 24px) / 2);
}
/**-------------footer---------**/
.footer {
  padding-top: 97.5px;
  padding-bottom: 104px;
}
.footer-logo {
display: flex;
justify-content: center;
margin-bottom: 17.5px;	
}
.footer-end {
	padding-bottom:72px;
  margin: 0 auto;
}
.social-media {
	margin-bottom: 16px;
  text-align: center;
}
.social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
    justify-content: center;
}
.subscribe-button{
width: 165px;
 display: flex;
 justify-content: center;
 align-items: center;	
}

 /**------------ portfolio-------------- */

 .btn {
  margin-bottom: 48px;
  padding-top: 56px;
  flex-wrap: wrap;
  justify-content: flex-start;
 }
 .sex-img {
  padding-bottom: 48px;
 }
 .sex-img-all{
  width: 100%;
 }
} 
 /**------------ Tablet-------------- */
@media screen and (min-width: 768px) {
 .container {
   max-width: 758px;
 }
  /**----------Header section-----------------*/
  .menu-open-btn{
  display: none;
  }
  .menu{
 display: block; 
 color: #434455;

}
.header-nav{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.adres {
  display: block;
}
.header-logo-link{
     margin-right: 120px;
}
.header-spc{
 color: #2E2F42;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}
.header-logo-link:hover {
  color: #404bbf;
}

.header-logo-link:focus {
  color: #404bbf;
}

.header-cont {
  display: flex;
}
.mailo {
  display: flex;
   gap: 12px;
      flex-wrap: wrap;
    justify-content: flex-end;
}
.header-spc {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-spc:is(:hover, :focus) {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.lict {
  display: flex;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}
.linc-com-tel {
  color: #434455;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}
.linc-com-tel:hover {
  color: #404bbf;
}
.linc-com-tel:focus {
  color: #404bbf;
}
  /**----------section1-----------------*/
 .hiro-cont {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/home/office-tab.jpg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
 }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
     .hiro-cont {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/home/office-tab-2x\ .jpg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
} 
    }
 
 .sec-title {
  padding-top: 112px;
  margin-bottom: 36px;
 }
 .sec-button{
  margin-bottom: 112px;
}
.one-sex-all {
  display: none;
}
.team {
   display: flex;
 flex-wrap: wrap; 
 gap: 24px;
 row-gap: 64px;
  width: 100%;
  padding: 0px 50px;
}
.all{	
	width: calc((100% - 24px)/2);
}
.section-cpdt {
    padding: 96px 0;
  }

.lint{  display: flex;
 flex-wrap: wrap; 
 gap: 24px;
 row-gap: 72px;
  width: 100%;

}
.one-sex{
   width: calc((100% - 24px)/2);
} 
.sec-es-wd {
  display: none;
} 
/**------------ section5-------------- */
.customers {
  padding: 96px 0;
}
.customers-all {
  gap: 24px;
  row-gap: 72px;
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 max-width: 100%;
}
.customers-all-list {
  width: calc((100% - 24px*2) / 3);
}
/**-------------footer---------**/
.footer {
  padding: 97.5px 148px 96px 92px ;
}
.footer-class {
  display: flex;
 flex-wrap: wrap;
}
.footer-logo-all{
  padding-right: 24px;
	
}
.footer-logo {
display: flex;
justify-content: flex-start;
margin-bottom: 17.5px;	
}
.footer-end {
	margin-bottom:72px;
}
.social {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
 
}
.social-media {
	margin-bottom: 16px;
  text-align: center;
}
.social-list {
  display:flex;
  gap: 16px;
  margin-bottom: 72px;
    justify-content: center;
}
.subscribe{
  display: block;
   text-align:left; 
}
.subscribe-label {
  
  padding-right: 24px;


}
.subscribe-form{
  display: flex;
  width: 100%;
}
.subscribe-button{

 display: flex;
 justify-content: center;
 align-items: center;	
 max-width: 165px;
}

/**------------ Portfolio-------------- */

.btn {
  margin-bottom:78px ;
  padding-top: 78px;
  justify-content: center;
  align-items: center;
}
.sex-img{
  column-gap: 24px;
  row-gap: 72px;
}
.sex-img-all{
  width: calc((100% - 24px) / 2);
}
}
 /**------------ Desktop-------------- */
@media screen and (min-width: 1166px) {
 .container {
   max-width: 1188px;
   padding-left: 15px;
  padding-right: 15px;
 }
  .menu-open-btn{
  display: none;
  }
  .adres{
 display: block; 
 color: #434455;

}
.header-nav{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.header-logo-link{
     margin-right: 120px;
}
.header-logo-link:hover {
  color: #404bbf;
}

.header-logo-link:focus {
  color: #404bbf;
}

.header-cont {
  display: flex;
}
.mailo {
  display: flex;
   gap: 40px;
      flex-wrap: wrap;
    justify-content: flex-end;
}
.header-spc {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-spc:is(:hover, :focus) {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.lict {
  display: flex;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}
.linc-com-tel {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.linc-com-tel:hover {
  color: #404bbf;
}
.linc-com-tel:focus {
  color: #404bbf;
}
  /**----------section1-----------------*/
 .hiro-cont {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/home/office-dec.jpg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
 }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hiro-cont {
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/home/office-dec-2x\ .jpg);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
} 
    }
  
 .sec-title {
  max-width: 496px;
  margin: 0px auto;
  padding-top: 188px;
  margin-bottom: 48px;
}
.sec-button{
  margin-bottom: 188px;
}
 /**------------ section2-------------- */
 .lint{
	display: flex;
	width: 100%;
	gap: 24px;
 }
 .one-sex {
  width: calc((100% - 72px) / 4);
}
 .one-sex-all {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
}
.one-sex-icons {
  color: #f4f4fd;
  border-radius: 4px;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.section-cpdt {
  padding: 120px 0;
}
.cpdt {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/**------------ section3-------------- */
.sec-es-wd {
  display: flex;
  padding-bottom: 120px;
}
.sec-es-title {
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.sec-wd-img {
  display: flex;
  gap: 24px;
}
.sec-es-img-all {
  width: calc((100% - 48px) / 2);
}
/**------------ section4-------------- */
.team {
  display: flex;
  gap: 24px;
  padding: 0;
}
.all{	
  display: block;
  width: calc((100% - 72px)/4);
}
.sec-ot{
 padding: 120px 0;
}
.mark{ 
  padding: 32px 0px;
}
/**-------------section5---------**/
.customers {
  padding: 120px 0;
}
.customers-all {
  gap: 24px;
  display: flex;
  
}
.customers-all-list {
  width: calc((100% - 120px) / 6);
}
/**-------------footer---------**/
.footer {
   padding: 100px 0;
}
.footer-class {
  display: flex;
  align-items: baseline;
}
.footer-logo{
  margin-bottom: 17.5px;
}
.footer-logo-all {
  margin-right: 120px;
}
.social {
  display: block;
  padding-right: 80px;
}

/**------------ Portfolio-------------- */

.btn {
margin-bottom: 72px;
padding-top: 96px;
justify-content: flex-start;
}
.sex-img {
  padding-bottom: 120px;
  column-gap: 24px;
}
.sex-img-all {
  width: calc((100% - 48px) / 3);
}
}